<%- contentFor("body") %>

<form>
  <label>
    Groeperen per:
    <select name="groupby">
      <option value="hour" <%- groupby == "hour" ? "selected" : "" %>>Uur</option>
      <option value="day" <%- groupby == "day" ? "selected" : "" %>>Dag</option>
      <option value="week" <%- groupby == "week" ? "selected" : "" %>>Week</option>
      <option value="month" <%- groupby == "month" ? "selected" : "" %>>Maand</option>
      <option value="year" <%- groupby == "year" ? "selected" : "" %>>Jaar</option>
    </select>
  </label>

  <label>
    Van: <input type="date" name="from" value="<%- from %>">
  </label>

  <label>
    Tot: <input type="date" name="to" value="<%- to %>">
  </label>

  <button type="submit">Toepassen</button>
</form>


<h2>Online leden</h2>
<canvas id="onlineMembers"></canvas>

<h2>Nieuwe berichten</h2>
<canvas id="newMessages"></canvas>

<h2>Nieuwe leden</h2>
<canvas id="newMembers"></canvas>

<h2>Nieuwe threads</h2>
<canvas id="newThreads"></canvas>

<script src="//cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  new Chart(
    document.getElementById('onlineMembers').getContext('2d'),
    <%- JSON.stringify(onlineMembersChartConfig) %>
  );

  new Chart(
    document.getElementById('newMembers').getContext('2d'),
    <%- JSON.stringify(newMembersChartConfig) %>
  );

  new Chart(
    document.getElementById('newThreads').getContext('2d'),
    <%- JSON.stringify(newThreadsChartConfig) %>
  );

  new Chart(
    document.getElementById('newMessages').getContext('2d'),
    <%- JSON.stringify(newMessagesChartConfig) %>
  );
</script>