<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Beyond Gaming stats history</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { 
        font-family: sans-serif;
      }

      h1, h2, form {
        text-align: center;
      }

      canvas {
        max-width: 50%;
        margin: auto;
      }

      @media only screen and (max-width: 1024px) {
        canvas {
          max-width: 100%;
        }
      }
    </style>

    <script async defer data-website-id="08d09001-a487-449b-9548-96239f3abddd" src="https://umami.jeroenpelgrims.com/umami.js"></script>
  </head>
  <body>
    <h1>Beyond Gaming statistics</h1>

    <%-body%>
  </body>
</html>
